.Game {
    align-items: left;
    background: #213643;
    border-radius: 9px 9px 9px 9px;
    height: 70px;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 110px;
    margin-left: 0px;
    margin-right: -1000px;
    padding: 0.5rem calc((90vw - 1000px) / 2);
    z-index: 10;
    /* Third Game */
    /* justify-content: flex-start; */
}

.Game image {
    color: #fff;
    position: left;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.Game button {
    border-radius: 6px 6px 6px 6px;
    font-size: 17px;
    background: #1DFF21;
    padding: 44px 80px;
    color: #003E01;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 0px;
    padding-top: 25px;
}

.Game button:hover {
    background: #17c31a;
}

.balance {
    margin-left: 450px;
    margin-top: 0px;
    font-size: 17px;
    height: 45px;
    border-radius: 6px 0px 0px 6px;
    background: #10222F;
    padding: 13px 20px;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 4px;
    padding-right: 0px;
}

.currency {
    margin-top: 0px;
    font-size: 17px;
    height: 45px;
    border-radius: 0px 0px 0px 0px;
    background: #10222F;
    padding: 13px 20px;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 4px;
    padding-left:3px;
    padding-right:9px;
}

.currency img {
    display:inline;
    background: #10222F;
    display:block;
    margin-top: 2px;
}

.change_currency {
    font-size: 17px;
    height: 45px;
    border-radius: 0px 0px 0px 0px;
    background: #10222F;
    padding: 13px 20px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 4px;
    padding-left:3px;
}

.change_currency img {
    background: #10222F;
    display:block;
    margin-top: 6px;
}

.Game h1 {
    padding-left: 300px;
    background-color: #223543;
}