.Nav {
    background: #182C38;
    height: 70px;
    filter: drop-shadow(0px 2px 2px #0D181F);
    display: flex;
    /* justify-content: space-between; */
    padding: 0.5rem calc((90vw - 1000px) / 2);
    z-index: 10;
    /* Third Nav */
    justify-content: flex-start;
    align-items: flex;
}

.Nav image {
    color: #fff;
    position: left;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.Nav button {
    border-radius: 0px 6px 6px 0px;
    font-size: 17px;
    background: #256ce1;
    padding: 13px 20px;
    height: 45px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 4px;
}

.Nav button:hover {
    background: #17458f;
}

.balance {
    margin-left: 450px;
    margin-top: 0px;
    font-size: 17px;
    height: 45px;
    border-radius: 6px 0px 0px 6px;
    background: #10222F;
    padding: 13px 20px;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 4px;
    padding-right: 0px;
}

.currency {
    margin-top: 0px;
    font-size: 17px;
    height: 45px;
    border-radius: 0px 0px 0px 0px;
    background: #10222F;
    padding: 13px 20px;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 4px;
    padding-left:3px;
    padding-right:9px;
}

.currency img {
    display:inline;
    background: #10222F;
    display:block;
    margin-top: 2px;
}

.change_currency {
    margin-top: 0px;
    font-size: 17px;
    height: 45px;
    border-radius: 0px 0px 0px 0px;
    background: #10222F;
    padding: 13px 20px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 4px;
    padding-left:3px;
}

.change_currency img {
    background: #10222F;
    display:block;
    margin-top: 6px;
}

.edit_balance {
    font-size: 17px;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 60px;
    padding-left:18px;
    margin-left: -300px;
}

.edit_balance input {
    width: 275px;
    height: 40px;
    margin: 1px;
    border: 2px solid #5b94df;
    border-radius: 5px;
    background: white;
    padding: 5px;
    font-size: 20px;
    margin-top:5px;
    margin-bottom:10px;
}

.edit_balance button {
    width: 90px;
    margin-bottom:10px;
    height: 40px;
    margin-left: 35px;
    border: 2px solid #11be4d;
    background: #46c171;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin-top:-15px;
}

.edit_balance h1 {
    text-align: center;
    color:red;
    font-size:15px;
}


